.table
  .table-row
    .table-cell.sidebar
      %a{:href => "http://www.fortlauderdale.gov"}
        = image_tag "https://s3.amazonaws.com/delphius-rds-1/entities/logos/000/000/123/header_image/Fort_Lauderdale.png", :style => "margin-top:10px", :width => '200px', :alt => t("sponsors.city"), :title => t("sponsors.city")    
      %h1
        Adopt a Drain

      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "layouts/flash", :locals => {:flash => flash}
        - if signed_in?
          = render :partial => "sidebar/search"
        - else
          = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://codeforftl.org"}
          = image_tag "https://avatars1.githubusercontent.com/u/5661283", :width => '180px', :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")

      #feedback
        %br
        %br
        %br
        %p
          Report maintenance needs to the 
          %a{:href => URI.escape("http://www.fortlauderdale.gov/departments/city-manager-s-office/public-affairs-office/lauderserv")} City of Fort Lauderdale Public Works Department
          or visit
          %a{:href => "http://www.fortlauderdale.gov/departments/city-manager-s-office/public-affairs-office/lauderserv"}Lauderserv
        %p{:style => "font-size: 120%"}
          %a{:href => URI.escape("mailto:codeforftl@gmail.com?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)} #{t("links.feedback").titleize}")}
            = t("links.feedback")
    .table-cell.map-container
      #map        
        &nbsp;
      #legend
